# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# ----------------------------
# Virtual Environment
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Extracted Images
# ----------------------------
data/extracted_images/

# ----------------------------
# Python Cache
# ----------------------------
.pytest_cache/
.mypy_cache/

# ----------------------------
# Build
# ----------------------------
build/
dist/